body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #faf8f6;
  /* background-image: url("https://www.transparenttextures.com/patterns/classy-fabric.png"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
